@import "config";
@import "typography";
@import "padding";
@import "menu";
@import "header";
@import "footer";

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
  color: $primary-color;
}
.container {
  max-width: 1700px;
  margin-inline: auto;
}

p {
  line-height: 1.75;
}

.logo {
  width: 8.5rem;
}

footer {
  background-color: $primary-color;
  color: #fff;
}

.services__heading {
  position: relative;

  @media (min-width: $screen-md) {
    padding-left: 100px;
    &::before {
      content: "";
      height: 2px;
      width: 70px;
      background-color: $primary-color;
      position: absolute;
      left: 0;
      top: 50%;
    }
  }
}

.services__wrapper {
  display: grid;
  gap: 2rem;
  margin-top: 3rem;

  @media (min-width: $screen-md) {
    grid-template-columns: 1fr;
    margin-top: 3rem;
  }
  @media (min-width: $screen-lg) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5rem;
  }
}

.service__item {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  justify-content: start;
}

.service__desc {
  font-size: 1rem;
  color: $text-color-main;
  margin-top: 2rem;

  @media (min-width: $screen-md) {
    font-size: 1rem;
  }
}

.design {
  display: grid;
  gap: 1rem;
  overflow: hidden;
  @media (min-width: $screen-md) {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

.design__content {
  display: grid;
  gap: 1.5rem;
  font-size: 1.125rem;
  color: $text-color-main;
}

.accordion-item-header {
  font-weight: 600;
  color: $primary-color;
  padding-block: 1rem;
  border-bottom: 1px solid $text-color-secondary;

  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-right: 1rem;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 0;
}
.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  @include transition-ease;
}

.accordion-item-body-content {
  color: $text-color-main;
  padding: 1rem;
}

.learn-btn {
  @include btn;
  align-self: end;
  justify-self: center;

  @media (min-width: $screen-md) {
    justify-self: start;
  }
}

.steps {
  @extend .design;
}

.steps__img {
  @media (min-width: $screen-md) {
    order: 2;
  }
}

.steps__img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.steps__options {
  display: grid;
  gap: 2rem;
  margin-top: 3rem;
}

.steps__item {
  @extend .service__item;
}

.steps__desc {
  @extend .service__desc;
}

.reviews {
  display: grid;
  grid-row-gap: 1rem;

  @media (min-width: $screen-md) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 3rem;
    grid-column-gap: 1rem;
  }
}

.reviews__bg {
  @media (min-width: $screen-md) {
    grid-area: 1 / 1 / 3 / 4;
  }
}

.reviews__heading {
  @media (min-width: $screen-md) {
    grid-area: 1 / 4 / 2 / 7;
  }
}

.reviews__navigation {
  display: none;
  @media (min-width: $screen-md) {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
  }
}

.swiper {
  margin: 0;
  @media (min-width: $screen-md) {
    grid-area: 2 / 2 / 3 / 7;
    padding: 1rem 0 0 1rem;
    background-color: #fff;
  }
}

.swiper-slide {
  width: 100%;
  background-color: $primary-color;
  color: #fff;
  padding: 2rem;
  display: grid;
  gap: 2rem;
  @media (min-width: $screen-md) {
    width: 40%;
  }
}

.client__feedback::before {
  content: "\201C";
  font-size: 5rem;
  display: block;
  line-height: 1;
}

.client__name {
  font-weight: 600;
}

.client__location {
  color: #929292;
  font-size: 0.875rem;
}

.client__info {
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 1rem;
  align-content: center;
}

.client__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  grid-row: 1 / span 2;
}

.button-prev,
.button-next {
  background-color: #f1f1f1;
  width: 60px;
  height: 60px;
  border: none;
  padding: 1em;
  cursor: pointer;
}

.swiper-pagination {
  @media (min-width: $screen-md) {
    display: none;
  }

  &-bullet {
    background-color: #fff;
  }
}

.subscription {
  max-width: 700px;
  margin-inline: auto;
  text-align: center;
}

.subscription__desc {
  font-size: 1.125rem;
  color: $text-color-main;
  margin-top: 2rem;
}

.form-wrapper {
  background-color: #fff;
  width: 100%;
  display: inline-flex;
}

.subscription__form {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 4px;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.subscription__btn {
  @include btn;
}

.input-group {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-grow: 1;
  border: 1px solid #808080;
  border-radius: 4px;

  @media (min-width: 600px) {
    border: none;
  }
}

.subscription__input {
  color: #8c8c8c;
  font-size: 1.25rem;
  border: none;
  outline: none;
  width: 100%;
}
